# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.idea
.metadata
.tm_properties
.vscode

# Flutter/Dart
/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Android
app/
build.gradle
gradle.zip
gradlew
gradlew.bat
settings.gradle
unzipped_gradle/
/android/key.properties
/android/.gradle
/android/build/
/android/app/build/
/android/gradle/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/app/src/main/assets/flutter_assets/

# iOS
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/flutter_assets/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner.xcworkspace/contents.xcworkspacedata
/ios/Runner.xcworkspace/xcshareddata/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcshareddata/
/ios/Runner.xcodeproj/xcuserdata/

# Uni combo (example project)
uni_combo/
