name: android_automotive_plugin
description: A new flutter plugin project.
version: 0.0.1
publish_to: 'none' 

environment:
  sdk: '>=3.8.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  json_annotation: ^4.8.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  build_runner: ^2.4.8
  json_serializable: ^6.7.1

flutter:
  plugin:
    platforms:
      android:
        package: com.bukharskii.flutter.automotive.android_automotive_plugin
        pluginClass: AndroidAutomotivePlugin
